* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 17px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #00e0d0;
  border: #00e0d0 solid 1.8px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
}

.btn:hover {
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
}

/* Header */

.page-header {
  height: 90vh;
  width: 100%;
  color: #fff;
  background: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hamburger-menu {
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  padding: 18px 0;
  color: #00e0d0;
  float: right;
  transition: 0.5s;
  display: none;
}

.nav-header {
  margin: 0 auto;
  width: 90%;
  height: 60px;
  padding: 0 50px;
}

.logo {
  float: left;
}

.logo h3 {
  display: inline-block;
  color: #00e0d0;
  font-size: 30px;
  font-weight: 400;
  padding-top: 15px;
}

.logo img {
  padding: 8px;
  vertical-align: top;
}

.list-nav {
  list-style: none;
  float: right;
  padding: 24px 20px;
}

.list-nav li {
  display: inline-block;
  font-size: 13px;
}

.list-nav li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
}

.list-nav .active {
  color: #00e0d0;
}

li a:hover {
  color: #00e0d0;
  opacity: 0.5;
}

.showcase {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase h1 {
  font-size: 40px;
  margin-bottom: 50px;
  font-family: "Playfair Display";
}

.text-content {
  font-size: 14px;
  margin: 50px 0;
}

/* Section 1 */

.section-1 {
  width: 100%;
}

.section-header {
  font-size: 20px;
  padding: 10px 10px 10px 0;
  color: #311d5e;
  font-family: "Playfair Display";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.story {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section {
  text-align: center;
  padding-top: 10px;
}

.story-section {
  width: 450px;
  margin-left: 60px;
}

.story-text {
  text-align: start;
  font-size: 14px;
  padding-bottom: 20px;
  color: #333;
  font-family: "Roboto";
}

.video {
  background: url("../img/bg-section.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
}

.video-content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-content p {
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
}

.video-content img:hover {
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  cursor: pointer;
  border-radius: 50%;
}

.video-content p:hover {
  color: #00e0d0;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}

/* Section 2 */

.section-2 {
  margin: 50px 0;
}

.section-2 h2 {
  text-align: center;
  color: #311d5e;
  padding: 20px 0 10px;
  margin-top: 40px;
  font-family: "Playfair Display";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-text {
  padding: 0 30px;
  text-align: center;
  color: #311d5e;
  font-size: 14px;
  font-family: "Roboto";
}
.cards {
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  width: 30%;
  text-align: center;
  margin-bottom: 30px;
  padding: 20px 30px;
}

.card img {
  margin: 10px;
  height: 45px;
}

.card img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.4s;
}

.card-header {
  padding: 20px 0 10px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}

.card-header:hover {
  transition: 0.4s;
  cursor: pointer;
  color: #00e0d0;
}

.card-text {
  font-family: "Roboto";
  font-size: 13px;
  color: #333;
}

/* Section 3 */

.section-3 {
  background: url("../img/bg-sectionC.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0 20px;
}

.light-header {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  padding: 80px 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.light-text {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  padding: 0 25px;
}

.team {
  margin: 80px auto 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team-card {
  padding: 0 20px 20px;
}

.team-card img {
  width: 200px;
  height: 200px;
  box-shadow: 15px 15px 10px rgba(9, 5, 47, 0.8);
}

.team-card img:hover {
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
  opacity: 0.6;
}

.team-name {
  color: #faebd7;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0 5px;
  cursor: pointer;
}

.team-info {
  color: #faebd7;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.hire-info {
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-bottom: 30px;
}

.hire-info p {
  padding: 30px 0;
}

/* Section 4 */

.section-4 {
  margin: 60px auto;
}

.wrapper {
  text-align: center;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 75%;
}

.clients-info,
.contact {
  width: 500px;
  margin-bottom: 25px;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.form-input {
  font-size: 12px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  margin: 5px 0;
}

.msg {
  margin: 5px 0;
  font-family: "Roboto";
  border: 1px solid #e5e5e5;
  padding: 10px;
  height: 200px;
}

.button {
  margin: 10px 0;
  text-align: start;
}

.clients {
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 1px;
  justify-content: space-around;
}

.S4-div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.S4-div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.S4-div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.S4-div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.S4-div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.S4-div6 {
  grid-area: 1 / 2 / 2 / 3;
}
.S4-div7 {
  grid-area: 2 / 2 / 3 / 3;
}
.S4-div8 {
  grid-area: 3 / 2 / 4 / 3;
}
.S4-div9 {
  grid-area: 4 / 2 / 5 / 3;
}
.S4-div10 {
  grid-area: 5 / 2 / 6 / 3;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left img,
.right img {
  padding: 12px;
}

.left img:hover,
.right img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.contact-header {
  font-family: "Playfair Display";
  margin: 10px 0;
  text-transform: uppercase;
  color: #09052f;
  letter-spacing: 1px;
}

.right-header {
  text-align: center;
}

.right-header:hover {
  color: #00e0d0;
  transform: scale(1.1);
  transition: 0.6s;
  cursor: pointer;
}

/* Footer */

.footer-container {
  padding: 40px 0 30px;
  background: url("../img/bg-footer.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.row {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.column-top {
  width: 30%;
  margin-bottom: 30px;
}

.logo-header {
  display: inline-block;
  color: #00e0d0;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  cursor: pointer;
}

.logo-header:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.column-logo img {
  text-align: left;
  vertical-align: middle;
}

.column-text {
  color: #fff;
  font-size: 13px;
  text-align: start;
  line-height: 22px;
  margin-bottom: 10px;
}

.column-header {
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
}

.column-header:hover {
  cursor: pointer;
  color: #00e0d0;
  transition: 0.4s;
}

.column-info img {
  float: left;
  padding: 0 8px;
}

.column-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-socials {
  font-size: 12px;
  border: 1px solid #e5e5e5;
  padding: 12px;
  background: transparent;
  margin-bottom: 20px;
  width: 243px;
  background: url("../img/paper.png") no-repeat right 10px center;
}

.label-img {
  vertical-align: middle;
  margin-left: 5px;
}

.label-img:hover {
  transform: scale(1.4);
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
}

.social-icons img {
  padding-right: 3px;
}

.social-icons img:hover {
  cursor: pointer;
  border-radius: 50%;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
}

.footerLow {
  display: flex;
  justify-content: space-between;
  padding: 2% 10% 2% 2%;
  /* border:green dashed; */
}

.footer-links {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-left: 11%;
  display: flex;
  width: 50%;
}
.footer-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
  font-family: "Roboto", sans-Regular;
  font-size: 14px;
  cursor: pointer;
}

.footer-links a:hover {
  cursor: pointer;
  color: #00e0d0;
  transition: 0.4s;
}

.footer-copyright {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-Regular;
  font-size: 14px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

/* RWD */

@media (max-width: 1335px) {
  .wrapper {
    width: 100%;
  }

  .clients-info,
  .contact {
    width: 40%;
  }

  .row {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .hamburger-menu {
    display: block;
  }

  .list-nav {
    display: none;
  }

  .nav-header {
    padding: 0;
  }

  .hamburger-list {
    width: 100%;
    display: block;
    float: none;
    padding: 75px 0 0 0;
    z-index: 1;
  }

  .beneath {
    z-index: -1;
  }

  .list-nav li {
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    border-bottom: #333 0.5px solid;
    font-weight: 900;
  }

  .card {
    width: 50%;
  }

  .cards {
    padding: 50px 100px;
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }

  .column-logo,
  .column-info {
    width: 45%;
  }
  .column-socials {
    width: 70%;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .showcase h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .logo-section {
    display: none;
  }

  .story-section {
    margin: 0;
  }

  .cards {
    padding: 50px;
  }

  .people-say {
    width: 100%;
    padding-bottom: 25px;
  }

  .portfolio {
    grid-template-columns: repeat(4, 1fr);
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .clients-info,
  .contact {
    width: 80%;
  }

  .column-logo,
  .column-info {
    width: 60%;
  }

  .column-header {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .showcase .text-content {
    margin: 25px 0;
    font-size: 12px;
  }

  .story-section {
    padding: 0 25px;
  }

  .card {
    width: 80%;
  }

  .team-card {
    padding: 0 20px 20px;
  }

  .portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-info {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }

  .people {
    flex-direction: column;
  }

  .people .arrow {
    margin: 25px auto;
  }

  .row {
    width: 100%;
  }

  .footerLow {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 2%;
    /* border:green dashed; */
  }

  .footer-links {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 11%;
    display: flex;
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-Regular;
    font-size: 14px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .clients-info {
    display: none;
  }

  .column-top {
    width: 90%;
  }
  .footerLow {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 2%;
    /* border:green dashed; */
  }
}

@media (max-width: 300px) {
  .cards {
    padding: 50px 0;
  }

  .light-header {
    padding: 80px 20px 10px;
  }

  .team-card {
    padding: 0 0 20px;
  }

  .hire-info p {
    padding: 30px 20px;
  }

  .portfolio {
    grid-template-columns: repeat(2, 1fr);
  }

  .footerLow {
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 2%;
    /* border:green dashed; */
  }

  .footer-links {
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 11%;
    display: flex;
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-Regular;
    font-size: 14px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
}
